*, ::after, ::before {
    box-sizing: border-box;
    padding-left: initial;
}

body {
    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

}

.hr-orange {
    color: #f05f40;
}

/* Containers */

.container-wrapper {

}

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #ffd8d8;
    border-color: #ffd8d8;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    margin-left: 2rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.callout-container {
    height: 100vh;
    background: url("../images/whiskeybackground.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.quotes-container p {

}

.text-uppercase {
    padding-left: 2rem;
}


.features-container {
    text-align: center;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
margin-top: 0;
}

.h2
.text-uppercase {
    text-align: center;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/* block-divider */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* Content containers */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.badge {
    background-color: white;
    color: #f05f40;
}



/* Navbar */
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0%;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Jumbotron */
.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 24px;
    color: #ffffff;
        font-size: 1.25rem;
        font-weight: 300;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

mark {
    background-color: #ffd8d8;
}

/*  Buttons */
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
}


.btn-success {
    color: #000000;
    background-color: #ffd8d8;
    border-color: #f05f40;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 .2rem #ffd8d8;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: #df4929;
    border-radius: 5px;
    min-width: 100px;
    font-weight: bold;
    color: #df4929;
    margin-top: 10px;

}
/* Table */


.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffd8d8
}

/* To override the grey border?*/
.table thead th {
    vertical-align: bottom;
    /* border-bottom: 2px solid #dee2e6; */
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #f05f40;
    